[submodule "from_git/magit"]
	path = from_git/magit
	url = https://github.com/magit/magit.git
[submodule "from_git/anything-config"]
	path = from_git/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "from_git/coffee-mode"]
	path = from_git/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "from_git/cucumber.el"]
	path = from_git/cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "from_git/rsense"]
	path = from_git/rsense
	url = https://github.com/m2ym/rsense.git
[submodule "from_git/haskell-mode"]
	path = from_git/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "from_git/mit-scheme-swank"]
	path = from_git/mit-scheme-swank
	url = https://github.com/ecraven/mit-scheme-swank.git
